* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar,
.header,
.main-content {
    padding: 30px;
}

.sidebar {
    background-color: #1992D4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    gap: 50px;
    color: #FFFFFF;
    grid-template-rows: 60px 300px 150px;
}

.sidebar img {
    max-width: 35px;
}

.dashboard img {
    max-width: 60px;
    width: 60px;
}

.dashboard h2 {
    font-size: 2em;
}

.dashboard,
.navigation,
.branding {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(auto-fit, 50px);
    justify-items: start;
    align-items: center;
    column-gap: 15px;
}

.header {
    background-color: #FFFFFF;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content {
    background-color: #E2E8F0;
    padding: 15px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.projects,
.announcements,
.trending {
    display: grid;
    grid-template-rows: max-content;
    gap: 30px;
}

.projects {
    grid-row: 1 / 3;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}

.trending {
    margin-bottom: 50px;
}

.article {
    display: grid;
    justify-items: start;
    align-items: center;
    border-left: 10px solid #F0B429;
}

.buttons {
    place-self: end;
}

.buttons>img {
    max-height: 25px;
    padding-left: 10px;
}

.projects>h2 {
    grid-column: 1 / 3;
}

.announcements h3 {
    font-size: 1em;
    padding-bottom: 5px;
}

.announcements-container,
.trending-container {
    display: grid;
    align-items: center;
}

.announcements-container {
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.trending-container {
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 8px 10px 5px -5px #CDD2D9;
}

.card p {
    color: #989898;
}

.user p {
    padding: 2px;
}

.user .handle {
    color: #000000;
}

.profile-1,
.profile-2,
.profile-3,
.profile-4 {
    width: fit-content;
    border-radius: 50%;
}

.profile-1 {
    background-color: #E0F2FE;
}

.profile-2 {
    background-color: #FACC15;
}

.profile-3 {
    background-color: #FDA4AF;
}

.profile-4 {
    background-color: #A3A3A3;
}