* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: #1992D4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {
    background-color: #FFFFFF;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content {
    background-color: #E2E8F0;
    padding: 15px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.projects,
.announcements,
.trending {
    display: grid;
    grid-template-rows: max-content;
    gap: 15px;
}

.projects {
    grid-row: 1 / 3;

    grid-template-columns: repeat(2, 1fr);
}

.projects>h2 {
    grid-column: 1 / 3;
}

.card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 15px;
}